* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.jumbotron {
  color: white;
  background-color: purple;
}
h1 {
  font-size: 36pt;
}
h2 {
  color: purple;
  font-size: 18px;
}
.card {
  text-align: center;
  margin: 5%;
  border-style: solid;
  border-width: 10px;
  border-color: purple;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}
.card h3 {
  font-size: 150px;
  color: purple;
}
.yellow{
  background-color: yellow;
}
.teal{
  background-color: Cyan;
}
.green{
  background-color: LawnGreen;
}
.btn {
  color: white;
  background-color: purple;
  width:200px;
  font-size: 22px;
  margin-top: 15px;
  display: none;
}
.selectedcolor{
  background-color: orange !important;
}
